name: CI/CD Deploy

on:
  push:
    branches:
      - master  # 监听 master 分支提交

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mycomposeapp:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/mycomposeapp:latest

    - name: Deploy to Server via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_IP }}
        username: root
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/mycomposeapp:latest
          docker stop my_flask_web || true
          docker rm my_flask_web || true
          docker run -d -p 5000:5000 --name my_flask_web ${{ secrets.DOCKERHUB_USERNAME }}/mycomposeapp:latest

